<mat-card class="video-card">
  <mat-card-content>
    <img class="video-card_img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="223"
      alt="">
    <mat-card-actions>
      <button mat-button>watched 300</button>
      <button mat-button>likes 300</button>
      <button mat-button>dislikes 300</button>
      <button mat-button>SHARE 300</button>
    </mat-card-actions>
  </mat-card-content>

  <mat-card-header class="card_mat-header">
    <mat-card-title>Kuji podcast #20</mat-card-title>
  </mat-card-header>

  <mat-card-footer class="card_mat-footer">
    <button mat-raised-button color="primary">more</button>
  </mat-card-footer>
</mat-card>
