:host {
  width: 450px;

  border-radius: 5px;
  border-bottom: 10px solid red;
  background: #e1e1e1;
}

.video-card_img {
  display: block;
  width: 400px;
  height: auto;
  margin: auto;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-icon {
width: 25px;
}

.mdc-button{
  min-width: auto;
}

.card_mat-header {
  justify-content: end;
  margin: 0 10px;
}

.card_mat-footer {
  display: flex;
  justify-content: center;
}


