.video-card {
  border: 1px solid black;
  width: 280px;
}

.video-card_img {
  display: block;
  width: 223px;
  height: auto;
  margin: auto;
}

.card_mat-header {
  justify-content: end;
  margin: 0 10px;
}

.card_mat-footer {
  display: flex;
  justify-content: center;
}
