<mat-card>
  <mat-card-content>
    <img class="video-card_img" mat-card-image [src]="cardData.snippet.thumbnails.medium.url" width="400" height="225" [alt]="cardData.snippet.title">
    <mat-card-actions>
      <mat-icon color="primary">visibility</mat-icon>
      <button class="video-card_btn" mat-button>{{cardData.statistics.viewCount | number}}</button>
      <mat-icon color="primary">thumb_up</mat-icon>
      <button class="video-card_btn" mat-button>{{cardData.statistics.likeCount | number}}</button>
      <mat-icon color="primary">thumb_down</mat-icon>
      <button class="video-card_btn" mat-button>{{cardData.statistics.dislikeCount | number}}</button>
      <mat-icon color="primary">forum</mat-icon>
      <button class="video-card_btn" mat-button>{{cardData.statistics.commentCount | number}}</button>
    </mat-card-actions>
  </mat-card-content>

  <mat-card-header class="card_mat-header">
    <mat-card-title>{{cardData.snippet.title}}</mat-card-title>
  </mat-card-header>

  <mat-card-footer class="card_mat-footer">
    <button mat-raised-button color="primary" (click)="onButtonClick(cardData)">more&hellip;</button>
  </mat-card-footer>
</mat-card>
