.search-wrapper {
  display: flex;
  align-items: center;
}

.header-form {
  display: flex;
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.mat-form-header {
  width: 100%;
}

.search-button {
  margin-left: -5px;

  font-weight: 400;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// button-filter
.mat-mdc-raised-button:not(:disabled) {
  background-color: var(--basic-blue);
}

.mat-mdc-raised-button {
  box-shadow: none;
}

.mdc-button {
  min-width: auto;
  padding: 0 20px;
}

.header-form__button {
  margin-left: 10px;
  background-image: url(../../assets/img/icons/tune.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

// ---
