/* You can add global styles to this file, and also import other style files */

:root {
  --basic-blue: #2F80ED;
  --basic-gray: #e5e5e5;
  --white: #ffffff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// кастомизация поля поиска от angular-material
.mat-form-header.mat-mdc-form-field  {
  max-height: 36px;
}

.mat-form-header .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding: 5px;
}

.mat-form-header .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

// bottom search border-line color
.mat-form-header .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: var(--basic-blue);
}
// -----

// цвет подчеркивания инпута в фильтре
.filter .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: var(--basic-blue);
}

// блок фильтр. цвет лейбла в инпуте
.filter .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: var(--basic-blue);
}
