:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.error-wrapper {
    position: relative;
    margin-top: 30vh;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: -134px;

        width: 108px;
        height: 100px;

        background-image: url(../../../../assets/img/icons/404.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        transform: translate(0, -45%);
    }
}

.error-message {
    margin: 0;
    padding: 0;

    line-height: 1.1;
    font-size: 2rem;
    color: #828282;
}